ignore-empty-password
daemonize

image=/usr/share/backgrounds/Dingo_Wallpaper_Grey_4096x2304.png

color=323232

inside-color=323232

ring-color=888888

line-color=12345600
line-clear-color=12345600
line-caps-lock-color=12345600
line-ver-color=12345600
line-wrong-color=12345600

key-hl-color=ebdbb2

indicator-radius=80
indicator-thickness=6

font='Fira Code'